h1{
    border-bottom:2px dashed black;
    font-size:100px;
    text-align: center;
}
ol{
    border-right:2px dashed blueviolet;
}
#container{
    display:grid;
    grid-template-columns:300px 2fr;
}
#container div{
    padding-left: 15rem;
}